<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>{{title}}</title>
    <meta name="keywords" content="{{meta_keywords}}" />
	  <meta name="description" content="{{meta_description}}" />
    <meta name="copyright" content="{{meta_copyright}}" />
    <base href="{{base}}" />
    <link type="text/css" href="assets/css/reset.css" rel="stylesheet" />
    <link type="text/css" href="assets/css/style.css" rel="stylesheet" />
    <link type="text/css" href="assets/css/form.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/jqtest.js"></script>
  </head>
  <body>
    <div id="container">
      <h2>We'd love to show you the page you requested</h2>
      <p>{{page}}</p>

      <h3>but... {{message}}</h3>

      {{#local}}<h2>You clicked on a site link that was broken</h2>
      <p>We're sorry about that and will try to fix it right away!</p>{{/local}}
    </div>
  </body>
</html>
