[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/kostache-pagination-helper"]
	path = modules/kostache-pagination-helper
	url = git://github.com/czukowski/kostache-pagination-helper.git
[submodule "modules/email"]
	path = modules/email
	url = git://github.com/shadowhand/email.git
