<p id="pagination" class="pagination">
{{#items}}
{{#url}}<a href="{{url}}" {{#title}}rel="{{rel}}"{{/title}}>{{/url}}{{#current}}<strong>{{/current}}{{name}}{{#current}}</strong>{{/current}}{{#url}}</a>{{/url}}&nbsp;
{{/items}}
</p>