<p><small>{{displayed}}</small></p>
<p class="pagination">
	{{pages}}:
	{{#items}}
	{{#url}}<a href="{{url}}" {{#title}}rel="{{rel}}"{{/title}}>{{/url}}{{#num}}<strong>{{/num}}{{name}}{{#num}}</strong>{{/num}}{{#url}}</a>{{/url}}
	{{/items}}
</p>