    <div id="container">
      <h1>{{artist}}</h1>
      <h2>{{name}}</h2>
      <img src="{{image}}" alt="album cover" />
      <ol>
      {{#tracks}}
      <li><a href="{{track.url}}" target="_blank" >{{track.name}}</a></li>
      {{/tracks}}
      </ol>
    </div>
