@font-face {
    font-family: 'AllerRegular';
    src: url('fonts/aller_rg-webfont.eot');
    src: url('fonts/aller_rg-webfont.eot?#iefix') format('eot'),
         url('fonts/aller_rg-webfont.woff') format('woff'),
         url('fonts/aller_rg-webfont.ttf') format('truetype'),
         url('fonts/aller_rg-webfont.svg#webfontLXgeG2Uc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WalkwayBoldRegular';
    src: url('fonts/walkway_bold-webfont.eot');
    src: url('fonts/walkway_bold-webfont.eot?#iefix') format('eot'),
         url('fonts/walkway_bold-webfont.woff') format('woff'),
         url('fonts/walkway_bold-webfont.ttf') format('truetype'),
         url('fonts/walkway_bold-webfont.svg#webfontZPVjTwBO') format('svg');
    font-weight: normal;
    font-style: normal;

}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
html, body {
  font-family: Arial, Helvetica, sans-serif ;
	font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  background: #E3E0D1;
}
#wrap {
    width:910px;
}
#wrap-admin {
    width:600px;
}

#wrap, #wrap-admin {
  margin:0 auto;
  background:#ddd;
  border: 1px solid #888;

}
#header {
  padding: 5px 10px;
  background: #eee;
}

#nav {
  padding: 5px 10px;
  background:#aaa;
  border-bottom:1px solid #fff;
}

#main {
  float: left;
  width: 610px;
  padding: 10px;
  border-right: 1px solid #fff;
}

#full {
  width: 610px;
  padding: 10px;
}

#details {
  float: right;
  width: 250px;
  padding: 10px;
  background:#aaa;
}

#footer {
  clear: both;
  padding: 5px 10px;
  background:#ccc;
  border-top: 1px solid #fff;
}


h1 {
	font: normal bold 20px/30px AllerRegular,sans-serif;
  letter-spacing: 1px;
}
h2 {
	font: 18px/26px AllerRegular,sans-serif;
}
p {
  font-size: 14px;
  line-height: 20px;
}
h3 {
  font-size: 16px;
  line-height: 23px;
}
a {
	font-family: Arial, Helvetica, sans-serif ;
	font-weight: normal;
	font-size: 12px;
	color: #200;
	/*vertical-align:text-top;*/
  text-decoration: none;
}

a:hover {
  color: #fff;
}
ol {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: decimal;
  list-style-position: inside;
}
li a {
  font-size: 12px;
  line-height: 18px;
}

img {
	border: 0;
}

label {
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
	font-weight: normal;
	font-size: 12px;
}

input {
	border: 1px solid #000;
}

select {
	width:185px;
}

table.tablesorter {
    background-color: #CDCDCD;
    font-family: arial;
    font-size: 8pt;
    margin: 10px 0 15px;
    text-align: left;
    width: 100%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #E6EEEE;
    border: 1px solid #FFFFFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url("../images/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}
table.tablesorter tbody td {
    background-color: #FFFFFF;
    color: #3D3D3D;
    padding: 4px;
    vertical-align: top;
	border: 1px solid #FFF;
}
table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}
table.tablesorter tbody tr.even td {
    background-color: #E0E0E6;
}
table.tablesorter thead tr .sort-asc {
    background-image: url("../images/asc.gif");
}
table.tablesorter thead tr .sort-desc {
    background-image: url("../images/desc.gif");
}
table.tablesorter thead tr .sort-desc, table.tablesorter thead tr .sort-asc {
    background-color: #8DBDD8;
}



table.list
{
  width: 500px;
	text-align: center;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	background-color: #666;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.list td.item
{
	/*background-color: #CCC; */
	color: #000;
	padding: 4px;
	text-align: left;
	border: 1px #fff solid;
}

table.list td.list_title,table.list td.headers
{
	background-color: #666;
	color: #fff;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff solid;
}

table.list td.list_title
{
	font: 24px/30px WalkwayBoldRegular,sans-serif;
  letter-spacing: 1px;
}

table.list td.headers
{
	font: 18px/22px WalkwayBoldRegular,sans-serif;
  letter-spacing: 1px;
}

table.list tr {
  background-color: #ccc;
}
table.list tr.highlight
{
  background-color: #ddc;
}

#user-info {
  margin-left: 10px;
  margin-right: 10px;
  color: #444;
}
.top-link {
  margin-right: 10px;
}
div.message {
  margin: 10px;
  padding: 10px;
  width: 600px;
  border: 1px solid #222;
  background-color: #ccc;
}
.message hr {
  color: #fff;
}
.pagination  {
	font-family: Arial, Helvetica, sans-serif ;
	font-weight: normal;
	font-size: 12px;
	color: #200;
/*	vertical-align:text-top; */
}
