<div class="validform">
  <form id="login_form" name="login_form" autocomplete="off" method="post" action="{{links.login}}">
    <h1>{{editor_title}}</h1>
    <hr />

    <p>
      <label>Username</label>
      <input type="text" name="username" value="" class="first_field" /><br />
    </p>

    <p>
      <label>Password</label>
      <input type="password" name="password" value="" /><br />
    </p>

    <button type="submit">Log In</button><span class="error">{{message}}</span>

  </form>
</div>
