{{%DOT-NOTATION}}
<div class="validform">
  <form id="form" name="form" autocomplete="off" method="post" action="{{links.save}}">
    <h1>{{editor_title}}</h1>
    <hr />

    <p>
      <label>Email Address</label>
      <input type="text" name="email" value="{{user.email}}" class="first_field" /><br />
      {{#errors}}{{#name}}<p class="error">{{name}}</p>{{/name}}{{/errors}}
    </p>

    <p>
      <label>Password (leave blank to keep current)</label>
      <input type="password" name="password" value="" /><br />
      {{#errors}}{{#password}}<p class="error">{{password}}</p>{{/password}}{{/errors}}
    </p>

    <p>
      <label>Confirm Password</label>
      <input type="password" name="password_confirm" value="" /><br />
      {{#errors}}{{#password_confirm}}<p class="error">{{password_confirm}}</p>{{/password_confirm}}{{/errors}}
    </p>

      <button type="submit">Update Profile</button>

    <input type="hidden" name="id" value="{{user.id}}" />
  </form>
</div>
